body{
    margin: 0;
    padding: 0;
}

#fullscreen{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    display: block;
}

canvas{
    background-color: black;
    display: block;
}

.button1{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    height: 10%;
    font-size: 70%;
    background-color: rgb(254, 176, 67);
    color: black;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.buttonFullscreen{
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 30px;
    height: 30px;
    font-size: 70%;
    background-color: rgb(254, 176, 67);
    color: black;
    border-radius: 50%;
    border-style: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.screen{
    position: absolute;
    top: 5vh;
    bottom: 5vh;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* #startScreen{
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#victoryScreen{
    background-image: url('img/9_intro_outro_screens/game_over/you lost.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#gameOverScreen{
    background-image: url('img/9_intro_outro_screens/game_over/game over.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

.button{
    width: 200px;
    height: 70px;
    margin-top: 10vh;
    margin-left: 32px;
    margin-right: 32px;
    background-color: rgb(254, 176, 67);
    color: black;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button:hover{
    background-color: rgb(255, 161, 29);
    cursor: pointer;
}

.hide{
    display: none !important;
}

@media only screen and (max-width: 1900px){
    .fullscreen{
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (max-width: 1200px){
    .button{
        margin-top: 20vh;
    }
}

@media only screen and (max-width: 840px){
    .button{
        margin-top: 25vh;
        width: 100px;
        height: 35px;
    }
}

@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }

    .container{
        width: 100%;
    }

    .button{
        margin-top: 35vh;
    }
}

@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }

    .container{
        height: 100vh;
    }

    .button{
        margin-top: 10vh;
        width: 100px;
        height: 35px;
    }

    h1{
        display: none;
    }
}